@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans TC', 'Zen Maru Gothic', system-ui, 'Montserrat',
    'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.font-Jost {
  font-family: 'Jost', sans-serif;
}
.font-ZenMaruGothic {
  font-family: 'Zen Maru Gothic', serif;
}

@media (min-width: 768px) {
  body {
    -webkit-overflow-scrolling: touch;
  }
}

button:focus,
button:active,
button:visited,
button:hover {
  -webkit-tap-highlight-color: transparent;
}

/* 不顯示滾動條 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.outline * {
  outline: 1px solid #000;
}

.container {
  position: relative;
  min-width: 360px;
  max-width: 360px;
  padding: 40px 10px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 768px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1240px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1240px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 2560px) {
  .container {
    max-width: 1240px;
    padding: 40px 20px;
  }
}
